<!-- view_edit_a_product.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>view_edit_a_product.ejs</title>
    <%- include("_stylesheet") -%>
</head>
<body>
    <div class="container">
        <%- include("_navbar") -%>

        <h1>Editar un producto - view_edit_a_product.ejs </h1>

        <form action="/edit_a_product/<%= model.id %>" method="post">
  <div class="form-horizontal">

    <%- include("_product_details.ejs") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Actualizar edicion" class="btn btn-default btn-warning" />
        <a class="btn btn-outline-dark cancel" href="/listar_productos">Cancelar & Listar Productos</a>
      </div>
    </div>
  </div>
</form>

        <%- include("_footer") -%>
    </div>
</body>
</html>