<!-- view_editar_un_libro.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>view_editar_un_libro.ejs</title>
    <%- include("_stylesheet") -%>
</head>
<body>
    <div class="container">
        <%- include("_navbar") -%>

        <h1>Editar un Libro - view_editar_un_libro.ejs </h1>

        <form action="/actualizar_edicion_del_libro/<%= model.Book_id %>" method="post">
  <div class="form-horizontal">

    <%- include("_datos_del_libro") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Actualizar edicion" class="btn btn-default btn-warning" />
        <a class="btn btn-outline-dark cancel" href="/listar_libros">Cancelar & Listar Libros</a>
      </div>
    </div>
  </div>
</form>

        <%- include("_footer") -%>
    </div>
</body>
</html>